<h1>NBP Exchanges Service</h1>
<form>
  <label>Currency:</label>
  <input type="text" [(ngModel)]="currency" name="currency">
  <br><br>
  <label>Date:</label>
  <input type="date" [(ngModel)]="date" name="date">
  <br><br>
  <label>Number of Records:</label>
  <input type="number" [(ngModel)]="number" name="number"/>
  <div *ngIf="numberFormControl.errors?.['range']">Number should be between 1 and 255</div>
  <br><br>
  <button type="button" (click)="getExchangeRate()">Get Average Rate</button>
  <button type="button" (click)="getMinMax()">Get Max Min Average</button>
  <button type="button" (click)="getMajorDiff()">Get Major Difference</button>

<div *ngIf="averageRate" class="answer">
  <p>Average Rate: {{averageRate}}</p>
</div>
<div *ngIf="minMax" class="answer">
  <p>Min Max Average: {{minMax}}</p>
</div>
<div *ngIf="majorDiff" class="answer">
  <p>Major Difference: {{majorDiff}}</p>
</div>
</form>
